@font-face {font-family: Manrope; src: url('../fonts/Manrope.ttf') format('truetype'); font-weight: 200 800; font-display: swap;}
@font-face {font-family: 'Hanken Grotesk'; src: url('../fonts/HankenGrotesk.ttf') format('truetype'); font-weight: 100 900; font-display: swap;}
@font-face {font-family: 'Hanken Grotesk'; src: url('../fonts/HankenGrotesk-Italic.ttf') format('truetype'); font-weight: 100 900; font-style: italic; font-display: swap;}
:root {
  --secondary: #4edea3;
  --error-container: #93000a;
  --on-surface: #d4e4fa;
  --secondary-container: #00a572;
  --on-secondary-fixed-variant: #005236;
  --surface: #051424;
  --inverse-primary: #565e74;
  --outline: #909097;
  --error: #ffb4ab;
  --background: #051424;
  --secondary-fixed-dim: #4edea3;
  --surface-variant: #273647;
  --surface-container: #122131;
  --primary: #bec6e0;
  --secondary-fixed: #6ffbbe;
  --tertiary: #ffb3ad;
  --on-tertiary-fixed: #410004;
  --on-tertiary: #68000a;
  --on-tertiary-fixed-variant: #930013;
  --on-secondary-container: #00311f;
  --tertiary-fixed-dim: #ffb3ad;
  --on-tertiary-container: #eb4141;
  --surface-container-lowest: #010f1f;
  --on-surface-variant: #c6c6cd;
  --outline-variant: #45464d;
  --on-primary-container: #798098;
  --surface-container-highest: #273647;
  --tertiary-fixed: #ffdad7;
  --on-primary: #283044;
  --tertiary-container: #390003;
  --primary-fixed: #dae2fd;
  --primary-fixed-dim: #bec6e0;
  --primary-container: #0f172a;
  --on-primary-fixed-variant: #3f465c;
  --inverse-on-surface: #233143;
  --surface-dim: #051424;
  --on-secondary: #003824;
  --inverse-surface: #d4e4fa;
  --on-background: #d4e4fa;
  --surface-container-high: #1c2b3c;
  --surface-container-low: #0d1c2d;
  --on-primary-fixed: #131b2e;
  --on-secondary-fixed: #002113;
  --surface-bright: #2c3a4c;
  --on-error-container: #ffdad6;
  --surface-tint: #bec6e0;
  --on-error: #690005;
  --font-body: 'Hanken Grotesk', sans-serif;
  --font-heading: Manrope, sans-serif;
  --radius-sm: 4px; --radius-md: 8px; --radius-lg: 12px;
  --space-xs: 4px; --space-sm: 8px; --space-md: 16px; --space-lg: 24px; --space-xl: 32px;
}
.icon {display:inline-block; width:24px; height:24px; flex-shrink:0; vertical-align:middle; background-color:currentColor; mask:var(--icon) center / contain no-repeat; -webkit-mask:var(--icon) center / contain no-repeat;}
